<!DOCTYPE html>
<html lang="ja" xmlns:th = "http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>ホテル検索</h2>
  <form th:action="@{/search}" method="post">
    <input type="text" name="price" id="price" />円以下<br />
    <button>検索</button>
</form>
<table>
  <thead>
    <tr>
      <th>ホテル名</th>
      <th>最寄駅</th>
      <th>価格</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="hotel : ${hotelList}">
      <td th:text="${hotel.hotelName}"></td>
      <td th:text="${hotel.nearestStation}"></td>
      <td th:text="${hotel.price}"></td>
    </tr>
  </tbody>
</table>
</body>
</html>
